* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --lexend: 'Lexend Deca', sans-serif;
    --big: 'Big Shoulders Display', cursive;
    --orange: hsl(31, 77%, 52%);
    --green: hsl(184, 100%, 22%);
    --dark-green: hsl(179, 100%, 13%);
}

body {
    align-items: center;
    background: hsl(0, 0%, 95%);
    display: flex;
    justify-content: center;
    height: 100vh;


    @media screen and (max-width: 600px) {
        flex-direction: column;
        height: auto;
    }

    .container {
        display: flex;
        margin: 30px;

        @media screen and (max-width: 600px) {
            flex-direction: column;
            margin: 80px 10px;
        }

        section {
            align-items: flex-start;
            color: white;
            display: flex;
            font-size: 20px;
            flex-direction: column;
            font-family: var(--big);
            padding: 30px 50px 35px 45px;

            img {
                margin-bottom: 30px;
            }

            h1 {
                margin-bottom: 33px;
            }

            p {
                color: hsla(0, 0%, 100%, 0.75);
                font-family: var(--lexend);
                font-size: 15px;
                font-weight: 400;
                margin-bottom: 80px;
                max-width: 209px;
                line-height: 25px;
            }

            button {
                background: hsl(0, 0%, 100%);
                border: 2px solid hsla(0, 0%, 100%, 0.75);
                border-radius: 20px;
                cursor: pointer;
                font-family: var(--lexend);
                padding: 10px 22px;
                transition: all 0.2s;

                &:hover {
                    color: #FFF;
                    background: transparent;
                }
            }
        }

        .sedans {
            background-color: var(--orange);

            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;

            button {
                color: var(--orange);
            }
        }

        .suvs {
            background-color: var(--green);

            button {
                color: var(--green);
            }
        }

        .luxury {
            background-color: var(--dark-green);
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;

            button {
                color: var(--dark-green);
            }
        }
    }

}