* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --lexend: "Lexend Deca", sans-serif;
  --big: "Big Shoulders Display", cursive;
  --orange: hsl(31, 77%, 52%);
  --green: hsl(184, 100%, 22%);
  --dark-green: hsl(179, 100%, 13%);
}

body {
  align-items: center;
  background: hsl(0deg, 0%, 95%);
  display: flex;
  justify-content: center;
  height: 100vh;
}
@media screen and (max-width: 700px) {
  body {
    flex-direction: column;
    height: auto;
  }
}
body .container {
  display: flex;
  margin: 30px;
}
@media screen and (max-width: 700px) {
  body .container {
    flex-direction: column;
    margin: 80px 10px;
  }
}
body .container section {
  justify-content: space-between;
  color: white;
  display: flex;
  font-size: 20px;
  flex-direction: column;
  font-family: var(--big);
  padding: 45px 50px 35px 45px;
}
@media screen and (max-width: 700px) {
  body .container section {
    padding: 30px 50px 43px 45px;
  }
}
body .container section .section-content {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body .container section .section-content img {
  margin-bottom: 30px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
body .container section .section-content h1 {
  font-size: 39px;
  margin-bottom: 33px;
}
body .container section .section-content p {
  color: hsla(0deg, 0%, 100%, 0.75);
  font-family: var(--lexend);
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 80px;
  max-width: 211px;
  line-height: 25px;
  text-align: left;
}
@media screen and (max-width: 700px) {
  body .container section .section-content p {
    margin-bottom: 20px;
    max-width: 233px;
  }
}
body .container section button {
  background: hsl(0deg, 0%, 100%);
  border: 2px solid hsla(0deg, 0%, 100%, 0.75);
  border-radius: 20px;
  cursor: pointer;
  font-family: var(--lexend);
  padding: 10px 28px;
  transition: all 0.2s;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
body .container section button:hover {
  color: #FFF;
  background: transparent;
}
body .container .sedans {
  background-color: var(--orange);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
@media screen and (max-width: 700px) {
  body .container .sedans {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 5px;
  }
}
body .container .sedans button {
  color: var(--orange);
}
body .container .suvs {
  background-color: var(--green);
}
body .container .suvs button {
  color: var(--green);
}
body .container .luxury {
  background-color: var(--dark-green);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
@media screen and (max-width: 700px) {
  body .container .luxury {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}
body .container .luxury button {
  color: var(--dark-green);
}/*# sourceMappingURL=style.css.map */